/*----------------------------------------
    Core
----------------------------------------*/

body > div,
body > div > .page-body {
    height: 100%;
    min-height: 100%;
}

a:hover,
a:focus,
a:visited
a:active {
    text-decoration: none !important;
}