/*----------------------------------------
    Core
----------------------------------------*/

body > div,
body > div > .page-body {
    height: 100%;
    min-height: 100%;
}

a:hover,
a:focus,
a:visited
a:active {
    text-decoration: none !important;
}

.app-title {
    margin: -20px -20px 20px -20px;
    padding: 15px;
    line-height: 1.1;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    background-color: #189BC3;
    border-bottom: 1px solid #CFDBE2;
}

pre {
    padding: 0;
    background-color: transparent;
}