/**
 * Do not remove the comments below. It's the markers used by wiredep to inject
 * sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower

@import '../styles/main';